<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>net.grahamdennis.paperswatcher</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/graham/Dropbox/PapersWatcher/Watcher</string>
		<string>/Users/graham/Documents/Papers/</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Users/graham/.PapersWatcher</string>
</dict>
</plist>
